.contenedor_card{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card_producto{
    width: 300px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) ;
    overflow: hidden;
    margin:20px;
}

.img_producto{
    width: 300px;
    height: 235px;
    border-bottom: solid 1px;
}

.nombre_producto{
    font-size: 1.5rem;
}

.sumar_carrito{
    display: block;

}

.sumar_carrito_cantidad{
    display: inline;
    justify-content: space-between;
    margin: 2rem;
}

.sumar_carrito_cantidad p{
    display: inline-block;
    margin: 1rem;
}

.sumar_carrito_boton{
    display: inline;
}