/* productos en scroll horizontal */
.productos {
    background-color: #E9E9E9; }
    .productos .productos__titulo {
      display: flex;
      margin: 0px 5%; }
    .productos .productos__contenedor {
      display: flex;
      margin: 0px 5%;
      padding: 0px 1rem;
      flex-direction: row;
      overflow-x: scroll; }
      .productos .productos__contenedor .productos__tarjeta {
        flex-direction: column;
        margin: 1rem;
        height: auto;
        width: auto;
        background-color: white;
        border-radius: 1rem;
        transition: .5s;
        display: flex; }
        .productos .productos__contenedor .productos__tarjeta {
          color: black;
          text-decoration: none; }
          .productos .productos__contenedor .productos__tarjeta .img_producto {
            height: 300px;
            width: 320px;
            border: none;
            border-radius: 1rem; }
          .productos .productos__contenedor .productos__tarjeta .productos__info {
            padding: 0px 1rem;
            border-top: 1px solid black; }
            .productos .productos__contenedor .productos__tarjeta .productos__info .precio {
              font-size: 2rem;
              margin: .5rem; }
            .productos .productos__contenedor .productos__tarjeta .productos__info .titulo__prod {
              visibility: hidden; }
  
  @media screen and (min-width: 300px) {
    .productos__tarjeta {
      width: 270px;
      margin: 1rem; } }
  
  @media (hover: hover) {
    .productos__tarjeta:hover {
      -webkit-transform: scale(1.01);
      -o-transform: scale(1.01);
      -moz-transform: scale(1.01);
      transform: scale(1.01);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5); }
    .productos__contenedor .productos__tarjeta:hover > .productos__info > .titulo__prod {
      visibility: visible;
      transition: .5s; } }
  